<div class="flex justify-center my-4" style="width: 100%">
  <div role="tablist" class="tabs tabs-boxed tabs-lg">
    <a role="tab"
       routerLink=""
       class="tab"
       routerLinkActive="tab-active"
       [routerLinkActiveOptions]="{exact: true}"
    >
      Общая
    </a>

    <a
      routerLink="websocket"
      role="tab"
      class="tab"
      routerLinkActive="tab-active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      Websocket
    </a>

    <a
      routerLink="yellowstone"
      role="tab"
      class="tab"
      routerLinkActive="tab-active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      Yellowstone
    </a>
  </div>
</div>
<router-outlet></router-outlet>
